* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

header {
  background-color: #3c3a39;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
}

.logo-container {
  margin: auto 1rem;
  width: fit-content;
}

.logo-container p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Roboto', serif;
}

.menu-btn {
  margin: auto 1rem;
}

.nav-list {
  list-style-type: none;
  display: none;
  height: 0;
  width: 0;
}

.nav-link {
  margin: auto 0.5rem;
  color: white;
  font-family: 'Inter', serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.05rem;
  text-align: center;
}

.nav-link:hover {
  border-bottom: 3px solid white;
  padding-bottom: 0.2rem;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

/* SideBar Mobile Menu */
.mobile-menu {
  transform: translateX(-100%);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c3a39;
  padding: 2rem;
  transition: transform .2s linear;
  max-width: 600px;
}

.show-mobile-menu {
  transform: translate(0);
}

.mobile-menu .btn-container {
  display: flex;
  justify-content: end;
}

.menu-list {
  list-style-type: none;
  margin: 1rem 0;
  width: 100%;
}

.menu-link {
  width: 100%;
  border-bottom: 1px solid #6f6c6b;
  padding: 0 0 1rem 1rem;
  margin: 1rem 0;
}

.menu-link a {
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  transition: all 0.2s linear;
}

.menu-link a:hover {
  letter-spacing: 0.5rem;
}

/*  Home Section*/
.home {
  background-image: url(./assets/Illustration\ 2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1c1a19;
  height: 100vh;
  padding: 5rem 0 1rem 1rem;
}

.text-wrapper h1 {
  font-size: 50px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  margin-bottom: 1rem;
  letter-spacing: 0.37px;
}

.text-wrapper h2 {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-bottom: 0.5rem;
}

.text-wrapper p {
  font-family: 'Poppins', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  max-width: 327px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}

.social-icons {
  display: flex;
  list-style-type: none;
}

/* Work Section */
.work {
  margin: 5rem 0 5rem;
}

.title-intro .heading {
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Crete Round', serif;
  margin: 0 auto 2rem auto;
  color: #1c1a19;
}

.line {
  margin: 1rem 2rem 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
}

.project {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 90%;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
}

.sub-heading {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-style: normal;
  line-height: 44px;
  font-weight: 400;
  margin: 1rem 1rem 0.5rem;
  color: #091e42;
}

.description {
  font-family: 'Inter', serif;
  color: #091e42;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  margin: 0 1rem;
}

.tags {
  list-style-type: none;
  margin: 1rem;
  display: flex;
  max-width: 250px;
  justify-content: space-between;
}

.lang-tag {
  border: 1px solid #8993a4;
  outline: none;
  font-family: 'Inter', serif;
  font-size: normal;
  font-size: 15px;
  color: #091e42;
  padding: 0.5rem;
  margin-right: 0.7rem;
  transition: all 0.2s linear;
}

.lang-tag:hover {
  border-color: #e05304;
  cursor: pointer;
}

.btn {
  height: 48px;
  width: 124px;
  background-color: #ff6b00;
  color: white;
  border: none;
  margin-left: 1rem;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Inter', serif;
  transition: all 0.5s linear;
}

.btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.btn:active {
  background-color: #e05304;
  color: white;
}

.style2 {
  background-image: url(./assets/project-image-placeholder.png);
  background-repeat: no-repeat;
  background-color: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  background-size: 100%;
  max-width: 300px;
}

.sub-heading2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 5rem 1.5rem 0.5rem 2rem;
}

.style2 .description {
  color: white;
  margin: 0 1rem 1rem 2rem;
}

.tags-2 {
  display: flex;
  list-style-type: none;
  margin: 0 2rem 1rem;
}

.tags-2 .lang-tag {
  background-color: rgba(255, 255, 255, 0.24);
  color: white;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: none;
}

.style2 .btn {
  width: 100%;
  margin: 1rem 0 0;
  text-align: center;
}

/* About Me */
.aboutme {
  background-color: #1c1a19;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}

.text-container {
  margin: 4rem 0 1rem;
  height: 500px;
  background-image: url(./assets/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.text-section h2 {
  font-size: 72px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 88px;
  font-weight: 400;
  text-align: start;
}

.text-section p {
  color: #f4f5f7;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Inter', serif;
  font-size: 16px;
  font-style: normal;
  text-align: start;
}

.text-section .btn {
  width: 161px;
  height: 48px;
}

.aboutme hr {
  margin-bottom: 5rem;
}

.technologies {
  list-style-type: none;
}

.languages-container {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: auto;
  display: flex;
  align-items: center;
}

.title h4 {
  font-family: 'InaiMathi', 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.title .img-wrapper img {
  margin-right: 1rem;
}

.languages {
  list-style-type: none;
}

.languages .language {
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: white;
}

/* Footer */
footer {
  width: 100%;
  margin: 6rem 0 30rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-intro .heading {
  font-family: 'Inter', serif;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 2rem;
}

.form-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-list .btn {
  width: 131px;
  height: 48px;
}

.text {
  width: 20rem;
  height: 3rem;
  margin: 5px auto;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  padding: 5px 0 0 10px;
  font-family: 'Inter', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
}

.form-list textarea {
  background-image: url(./assets/Union.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #fbf8f7;
  border: none;
  margin: 20px auto;
  padding: 10px 0 0 10px;
  height: 7rem;
  width: 20rem;
  font-family: 'Inter', serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 1px;
}

.footer-social {
  display: flex;
}

.footer-social li {
  margin: 0 0.3rem;
}

.form-container {
  margin: 0 auto 7rem;
}

.line2 {
  background-color: #dfe1e6;
  width: 100%;
  margin: 1rem 0;
}

.line3 {
  margin: 0.5rem 0;
  height: 8px;
  background-color: #0d151e;
  width: 8rem;
  border-radius: 10px;
}

/* Desktop Design */
@media screen and (min-width: 768px) {
  /* Mobile Menu */
  .mobile-menu {
    display: none;
  }
  /* Outer Container */
  .container {
    max-width: 100%;
  }

  nav {
    width: 90%;
    margin: 0 auto;
  }

  .menu-btn {
    display: none;
    height: 0;
    width: 0;
  }

  .nav-list {
    display: flex;
    width: auto;
    height: auto;
  }

  .home {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    align-items: center;
    background-image: url(./assets/Desktop\ -\ Illustration-header.png);
    background-position: center right;
  }

  .social {
    width: auto;
    margin: 0 auto 0 0;
  }

  .social-icons {
    flex-direction: column;
  }

  .text-wrapper {
    width: 100%;
    margin: 0 auto 0 3rem;
  }

  .text-wrapper h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
  }

  .text-wrapper h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .text-wrapper p {
    font-size: 20px;
    line-height: 32px;
    max-width: 400px;
  }

  .title-intro {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 5rem auto;
  }

  .title-intro .heading {
    text-align: start;
    margin: 0;
  }

  .line {
    width: 70%;
    margin: auto 0 auto auto;
  }

  .projects-container {
    width: 80%;
    margin: 1rem auto;
  }

  .style1 {
    flex-direction: row;
  }

  .style1 .image-container {
    width: 50%;
  }

  .style1 .wrap-text {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .style2 {
    margin: 1rem;
  }

  .project-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* About me section */
  .aboutme {
    justify-content: center;
  }

  .text-container {
    display: flex;
    align-items: center;
    background-image: url(./assets/about\ me\ background.png);
    background-position: right center;
    height: 50vh;
    margin-right: 0;
  }

  .text-section {
    width: 500px;
    margin: 0 0 3rem 5rem;
  }

  .text-section h2 {
    text-align: start;
  }

  .text-section p {
    margin: 1rem 1rem 1rem 0;
    font-size: 20px;
    line-height: 32px;
  }

  .text-section .btn {
    margin: 1rem 0 0 0;
  }

  .aboutme hr {
    width: 90%;
    margin: 5rem auto;
  }

  .technologies {
    display: flex;
  }

  .languages .language {
    text-align: start;
  }

  .footer-intro {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  .footer-intro .heading {
    width: 50%;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    text-align: start;
  }

  .form-list {
    align-items: start;
  }

  .footer-intro .form-container {
    width: 50%;
  }

  .text {
    width: 30rem;
  }

  .form-list textarea {
    width: 30rem;
  }

  .form-list .btn {
    margin: 1rem 0 0 0;
  }

  .footer-social {
    flex-direction: row;
    justify-content: center;
  }

  .line3 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .text-container {
    background-position: bottom right;
    background-size: 50% 50%;
  }

  .home {
    background-position: bottom right;
    background-size: 50% 50%;
  }
}

/* Animations */
#animated-heading {
  animation: slide 3s 1;
}

@keyframes slide {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0%);
  }
}

.aboutme .btn {
  animation: slidein 2s 1;
}

@keyframes slidein {
  from {
    transform: translate(-200%);
  }
}

.fade {
  animation: fade-in 7s 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
